html, body {
    height: 100%;
    background-color: #000;
    color: white;
}

html {
    display: table;
    margin: auto;
    text-align: center;
}

body {
    display: table-cell;
    vertical-align: middle;
}
